@page
@model AQA_A_Level_CS_NEA__Suvat_Solver_.Pages.UserLogin.RegisterPageModel
@{
}
<div class="text-center container">
 <form method="post" class="mt-5 mb-5 px-5 pt-5 pb-5 rounded-5 bg-light alert-light">
     <h2 class="mb-5">Register for you <b>FREE</b> SUVAT Solver Account</h2>
     <hr />
     <p>Username: <input type="text" asp-for="TempUser.Username" placeholder="Enter your Username" /></p>
        @if (@Model.HasUsername == false || @Model.ValidUsername == false)
        {
                        <p class="errorText">Username is too short or not valid</p>
        }
        <p>Password: <input type="password" asp-for="TempUser.Password" placeholder="Enter your Password" /></p>
        @if (@Model.HasPassword == false)
        {
                        <p class="errorText">Password is too short or not valid</p>
        }
        <p><b>Select the Subjects that Apply to You</b></p>
     <input type="checkbox" asp-for="AQAPhys" placeholder="Phys" />AQA A Level Physics
     <br />
     <input type="checkbox" asp-for="AQAMaths" placeholder="Phys" />AQA A Level Maths
        @if (@Model.SubjectChosen == false)
        {
                        <p class="errorText">Please select <b>at least</b> one subject</p>
        }
     <br />
     <br />
     <button class="btn btn-primary mt-1" type="submit">Register Now</button>
     <br />
     <a class = " btn btn-outline-secondary small" style="float:right;" asp-page="LoginPage"> Already have a login?</a>
     <br />
 </form>
 </div>

