@page
@model AQA_A_Level_CS_NEA__Suvat_Solver_.Pages.RevisionQuestions.RevisionQuestionsModel
@{
}
<a class = " btn btn-outline-secondary small" style="float:right;" asp-route-Username=" @Model.Username" asp-page="/Home-LoggedIn"> Return to Home Page?</a>